---
import { menuItems } from "../data/data";


---

<!-- //NAVBAR========================================== -->
<nav class='flex justify-center bg-white py-4 relative'>
    <ul id="david" class='flex'>
        {
            menuItems.map((item) => (
                <li class='px-4'>
                    <a href={item.url}>{item.titulo}</a>
                </li>
            ))
        }
    </ul>

    <div id="menuDavid" class={`
    absolute
        bg-black/5 border-b-4 border-[--auxiliar1]
        translate-x-[var(--left)]
        translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)]
        h-[var(--height)]
        transition-all duration-500
        ease-in-out opacity-0 
    `}>

    </div>

</nav>

<!-- //LOGO================================================== -->
<main class='flex justify-center py-4 bg-white'>
    <div
        id='logo'
        class='cabecera flex-grow-0 mx-auto'
    >
        <img
            class='w-[18rem] md:w-[22rem]'
            src='./logo-aux.svg'
            alt=''
        />
    </div>
</main>

<script>
    setTimeout(function () {
        document.querySelector('#logo').classList.add('animacion')
    }, 0)
</script>

<style>
    .cabecera {
        opacity: 0;
    }

    @keyframes fantasma {
        from {
            opacity: 0;
            transform: translateY(55%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    .cabecera.animacion {
        animation: fantasma 1s ease-in-out 0s forwards;
    }
</style>

<script>
    const dav = document.querySelectorAll("#david li")
    const menuD = document.querySelector("#menuDavid") as HTMLElement

    dav.forEach( (i) => {
        console.log('david')
        i.addEventListener("mouseenter", () => {
            console.log(i.getBoundingClientRect())
            const { left, top, width, height } = i.getBoundingClientRect()

            menuD.style.setProperty("--left", `${left}px`)
            menuD.style.setProperty("--top", `${top}px`)
            menuD.style.setProperty("--width", `${width}px`)
            menuD.style.setProperty("--height", `${height}px`)

            menuD.style.opacity = "1"
            menuD.style.visibility= "visible"
        })
    } )
</script>